body {
    background: #191A1B;
    color: #DFDFDF;
    font-family: century gothic,trebuchet ms,verdana,arial;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    color: #DFDFDF;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

header {
    width: 120px;
    margin: 5px 0 0 5px;
}

header a span {
    display: block;
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    width: 40px;
}

nav {
    position:fixed;
    top: 50%;
    background: #AD235E;
    /*background: #B71766;*/
    width: 75%;
    left:0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 80px;
}

nav ul {
    float: right;
    margin: 0 20px 0 0;
}

nav ul li {
    float: left;
    margin: 0 30px;
}

nav ul li a 
{
    color: #FFF;
    font-size : 22px;
}

footer div
{
    position: absolute;
	bottom: 20px;
    line-height: 14px;
    font-size: 12px;
    width: 50%;
    border-top: 1px dotted #3A3D3F;
    padding: 10px 0 0 5px;
    color: #728088;
}

#main 
{
    clear:both;
    width: 800px;
	margin: auto;
	line-height: 1.6;
	background: #0D0F11;
	border-radius: 5px;
	padding: 20px;
	min-height: 500px;
}

#main h1{
	color: #AD235E;
	margin: 0;
}

#main #leftColumn{
	float: left;
}

#main #rightColumn{
	float: left;
	margin: 0 0 0 20px;
}

#about #main #leftColumn{
	background-image: url(../Images/Loc_RightHalf_bw.png) no-repeat;
	width: 50%;
}

#about #main #rightColumn img{
	border-left: 2px solid #3A3D3F;
}