body{
	font-family: century gothic,trebuchet ms,verdana,arial;
	font-size: 12px;
	color: #6D6D6D;
	padding: 0; 
	margin: 0;
	background: #EEE;
}

a {
	text-decoration: none;
	color: #6D6D6D; 
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

header {
    width: 800px;
    margin: 20px auto;
    font-size: 18px;
    min-height: 120px;
}

nav {
	width: 680px;
	float: left;
	border-bottom: 1px solid #6D6D6D;
}

nav li {
	margin: 40px 0 10px 20px;
	padding: 10px;
}

nav li.active{
	background: #CBC9C0;
	border-bottom: 1px solid #FFF;
	border-radius: 5px;
    border-right: 1px solid #FFF;
    box-shadow: 1px 1px 1px #B4B4B4 inset;
}

#logo {
	width: 120px;
	height: 120px;
    font-size: 18px;
    float: left;
}

#logo span {
    display: block;
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    width: 40px;
}

#main {
    margin: auto;
    width: 800px;
    font-size: 16px;
    overflow: hidden;	
    color: #DFDFDF;
}

#about #main {
    background: none repeat scroll 0 0 #4D4D4D;
    border-bottom: 2px solid #FFF;
    border-radius: 5px 5px 5px 5px;
    border-right: 2px solid #FFF;
    box-shadow: 2px 2px 2px #2A2A2A inset;
    padding: 0 20px;
    margin: 40px auto;
}

#portfolio #main{
    margin: 0;
    width: 1920px;
    overflow: hidden;	
    color: #DFDFDF;
}

#portfolio h1{
    width: 800px;
    color: #4D4D4D;
	font-weight: normal;
    margin: 10px 0 20px 275px;
}

footer {
	width: 800px;
	margin: auto;
	text-align: center;
	border-top: 1px solid;
	color: #728088;
	padding: 5px 0;
}

h1 {
	color: #AD235E
}

.floatLeft {
	float: left;
}

.floatRight{
	float: right;
}

.halfSize {
	width: 50%;
}

.marginLeft {
	margin: 0 0 0 20px;
}

.clear {
	clear: both;
}

#about .image {
    border-radius: 50px 0 0 0px;
    display: block;
}

.borderLeft{
	border-radius: 50px 0 0 0px;
	border-left: 2px solid #6A6A6A;
}

p{
	line-height: 26px;
    margin: 0;
}

.pinkIsh{
	color: #AD235E;
}

.lighterBlue{
	color: #48BCD3;
}

.blueIsh{
	color: #37A2F4;
}

.orangeIsh{
	color: #FD5157;
}

#socialLinks{
	margin: 30px 0;
}

.socialLink{
	float: left;
	width: 25%;
}

#socialLinks a:hover .socialLink{
	background: #FD5157;
	border-radius: 3px;
}

#images li{
    margin: 2px;
    overflow: hidden;
    float: left;
    display: none;
    opacity: 0.5;
}

#images li:hover{
    opacity: 1;
}

#images li div{
    float: left;
}

#images li div.description{
	background: none repeat scroll 0 0 #4D4D4D;
    width: 150px;
    height: 250px;
}

#images li div.description p{
	margin: 20px 10px;
}